.navbar {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;


}

.list {
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 1em;
    
}

.item {
    padding: 10px;
}
