.product span {
    font-size: 100px;
}

.wrapper {
    padding: 20px;
    font-size: 20px;
}

.cart {
    font-size: 50px;
    color: red;
}
.wrapper button {
    font-size: 20px;
    background: none;
    border: black solid 1px;
}